@import "tailwindcss";
@source "./src/**/*.{rs,html,css}";

@theme {
  --color-ios-green: #34c759;
  --color-ios-red: #ff3b30;
  --color-ios-blue: #007aff;
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
  }
  html, body {
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
  }
}
